body {
    margin: 0px;
}

.app-layout {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.controls {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 100;
    display: flex;
    gap: 8px;
}


.building-btn {
    padding: 8px 16px;
    background-color: #9ca3af;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.building-btn.active {
    background-color: #3b82f6;
}

.building-btn:hover {
    background-color: #6b7280;
}

.building-btn.active:hover {
    background-color: #2563eb;
}

.floor-btn {
    width: 40px;
    height: 40px;
    background-color: #3b82f6;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;

}

.floor-btn:hover {
    background-color: #2563eb;
}

.center-header {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 200;
    background: rgba(255, 255, 255, 0.315);
    backdrop-filter: blur(8px);
    padding: 10px 24px;
    border-radius: 10px;
    text-align: center;
    color: black;
    font-family: system-ui, -apple-system, sans-serif;
    pointer-events: none;
}

.building-name {
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.floor-name {
    font-size: 0.9rem;
    opacity: 0.9;
}